altair==4.1.0
apt-xapian-index==0.49
arandr==0.1.10
argon2-cffi==20.1.0
ase==3.21.1
astor==0.8.1
async-generator==1.10
attrs==19.3.0
Automat==20.2.0
backcall==0.2.0
base58==2.1.0
bcrypt==3.1.7
bleach==3.3.0
blinker==1.4
cachetools==4.2.1
certifi==2020.4.5.1
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.0
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==5.0.7
defer==1.0.6
defusedxml==0.7.1
deluge==2.0.3
distro==1.5.0
distro-info===0.23ubuntu1
dnspython==1.16.0
ecdsa==0.15
entrypoints==0.3
GeoIP==1.3.2
gitdb==4.0.7
GitPython==3.1.14
gpg===1.14.0-unknown
httplib2==0.18.1
hyperlink==19.0.0
idna==2.10
incremental==16.10.1
iniconfig==1.1.1
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
jeepney==0.4.3
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kazam==1.4.5
keyring==21.3.0
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
macaroonbakery==1.3.1
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
MouseInfo==0.1.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
notebook==6.3.0
numpy==1.18.4
oauthlib==3.1.0
olefile==0.46
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.15.8
proton-client==0.6.1
protonvpn-cli==3.9.1
protonvpn-gui==1.3.0
protonvpn-nm-lib==3.4.1
psutil==5.7.2
ptyprocess==0.7.0
py==1.10.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyAutoGUI==0.9.52
PyBluez==0.23
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.9.7
pycups==2.0.1
pydeck==0.6.2
pygame==1.9.6
PyGetWindow==0.0.9
Pygments==2.8.1
PyGObject==3.38.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==3.12.0
PyMsgBox==1.0.9
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.0
PyRect==0.1.4
pyRFC3339==1.1
pyrsistent==0.17.3
PyScreeze==0.1.27
pytest==6.2.3
python-apt==2.1.3+ubuntu1.4
python-dateutil==2.8.1
python-debian==0.1.37
python-gnupg==0.4.6
python-libtorrent==1.2.5
python3-xlib==0.15
pythondialog==3.5.1
PyTweening==1.0.3
pytz==2021.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.0.3
rencode==1.0.6
reportlab==3.5.47
requests==2.23.0
requests-unixsocket==0.2.0
scipy==1.6.1
screen-resolution-extra==0.0.0
SecretStorage==3.1.2
Send2Trash==1.5.0
service-identity==18.1.0
setproctitle==1.1.10
simplejson==3.17.0
sip==4.19.24
six==1.15.0
smmap==4.0.0
ssh-import-id==5.10
streamlit==0.80.0
systemd-python==234
terminado==0.9.4
terminator==1.92
testpath==0.4.4
tk==0.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
Twisted==18.9.0
tzlocal==2.1
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.9
usb-creator==0.3.7
validators==0.18.2
vboxapi==1.0
wadllib==1.3.4
watchdog==2.0.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xkit==0.0.0
zope.interface==4.7.1
